# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/

# Visual Studio 2019 cache/options
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Paket files
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
*.sln.iml

# Netlify 
.netlify/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Project files
*.csproj.user
*.vbproj.user

# Roslyn
.roslyn/

# Other
*.vsix
*.VC.db
*.VC.VC.opendb
*.pdb
*.dll
*.exe
*.nupkg
*.snk
*.pfx
*.log
*.tlog
*.lock.json
*~

obj/Debug/net9.0-windows/MouseJigglerPro_MarkupCompile.cache
*.cache
/obj/

